* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #000000 0%, #000000 100%);
}

/* SECTION POSTAGENS */
.post-section h1 {
  padding-top: 3%;
  text-align: center;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2rem 4rem;
}

.post-card {
  width: 26rem;
  height: 37rem;
  background: rgba(255, 253, 253, 0.06);
  border: 0.125rem solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.post-image {
  width: 25.7rem;
  height: 15rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.post-card h2 {
  display: flex;
  margin: 1.25rem 1rem;
}

.post-card-text {
  font-size: 1.125rem;
  color: #FFFFFF;
  margin: 1.25rem 1rem;
}

.post-author {
  display: flex;
  width: 90%;
  gap: 1rem;
  margin: 1.5rem 1.25rem;
  bottom: 0.6rem;
  position: fixed;
}

.post-author-imagem {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.post-author-details p,
.post-author-details h3 {
  font-size: 1rem;
  align-items: center;
  color: #FFFFFF;
}

/* PAGE CODIGO DE CONDUTA */
.conduct-section h1{
  padding-top: 3%;
  text-align: center;
}

.conduct-section p {
  padding: 4% 6%;
  color: #FFFFFF;
}
