@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  color: #F184D9;
}

h2 {
  font-size: 1.5rem;
  color: #F184D9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #303030;
}

/* SECTION SOBRE */
.about-image {
  width: 33rem;
  height: 24.5rem;
  border-radius: 1.25rem;
}

.about-description {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.about-container p {
  color: #FFFFFF;
}

.button.secondary {
  width: 12.5rem;
  height: 4.25rem;
  font-size: 1.5rem;
  border: 3px solid #F184D9;
  border-radius: 4rem;
  background-color: transparent;
  color: #FFFFFF;
  margin-top: 3rem;
  cursor: pointer;
}

/* SECTION POSTAGENS */
.post-section h1 {
  padding-top: 3%;
  text-align: center;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2rem 4rem;
}

.post-card {
  width: 26rem;
  height: 37rem;
  background: rgba(255, 253, 253, 0.06);
  border: 0.125rem solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.post-image {
  width: 25.7rem;
  height: 15rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.post-card h2 {
  display: flex;
  margin: 1.25rem 1rem;
}

.post-card-text {
  font-size: 1.125rem;
  color: #FFFFFF;
  margin: 1.25rem 1rem;
}

.post-author {
  display: flex;
  width: 90%;
  gap: 1rem;
  margin: 1.5rem 1.25rem;
  bottom: 0.6rem;
  position: fixed;
}

.post-author-imagem {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.post-author-details p,
.post-author-details h3 {
  font-size: 1rem;
  align-items: center;
  color: #FFFFFF;
}

/* PAGE CODIGO DE CONDUTA */
.conduct-section h1{
  padding-top: 3%;
  text-align: center;
}

.conduct-section p {
  padding: 4% 6%;
  color: #FFFFFF;
}
