.about-wrapper {
  flex-direction: row;
  gap: 12.8rem;
}

.about-image {
  width: 54rem;

  border-radius: 1.25rem;
}

.about-description {
  display: flex;
  flex-direction: column;
}

.about-description .section-title {
  margin-bottom: 1.6rem;
}

.about-description p {
  color: white;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4.8rem;
}