.button {
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 4rem;
  width: fit-content;

  cursor: pointer;
  transition: all 0.8ms;
  
  background: #ED8CD1;
  color: #420C6D;
}

.button:hover {
  filter: brightness(1.1);
  scale: 1.02;
}

.button.secondary {
  border: 3px solid #F184D9;
  background-color: transparent;
  color: #FFFFFF;
}