.staff-wrapper {
  display: flex;
  gap: 8rem;
}

.staff {
  font-size: 2.5rem;
  text-align: center;
}

.staff a {
  text-decoration: none;
  color: white;
}

.staff-avatar {
  height: 17.2rem;
  width: 17.2rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
