.button {
	font-weight: 600;
	font-size: 2rem;
	padding: 1.6rem 3.2rem;
	border-radius: 4rem;
	width: fit-content;

	cursor: pointer;
	transition: all 0.8ms;

	background: #ed8cd1;
	color: #420c6d;

	&:hover {
		filter: brightness(1.1);
		scale: 1.02;
	}

	&.secondary {
		border: 3px solid #f184d9;
		background-color: transparent;
		color: #ffffff;
	}
}
